.btn-primary {
    /* background: linear-gradient(135deg, #15314b 0%, #2c8d44 100%); */
    background: linear-gradient(135deg, #1e88e5 0%, #2c8d44 100%);
    transition: all 0.3s
cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}


.btn-primary:hover {
    background: linear-gradient(135deg, #2c8d44 0%, #15314b 100%);
}

.bg-primary-gradient {
    background: linear-gradient(135deg, #15314b 0%, #2c8d44 100%);
}

.primary-color {
    color: #2c8d44;
}

.text-position {
    text-align: left;
}
